{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}  
    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" style="background:linear-gradient(to right, #010000, #761917);" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
              <h1 class="ud-hero-title">
                Explore the Qatar Virtual Informative Map
              </h1>
              <p class="ud-hero-desc">
                Cultivate QSE Insights with Virtual Tour.
              </p>
              <ul class="ud-hero-buttons">
                <li>
                  <a data-toggle="modal" data-target="#signinModal" rel="nofollow noopener"
                    class="ud-main-btn ud-white-btn">
                    Explore Now
                  </a>
                </li>
                <!--<li>-->
                <!--  <a href="#" rel="nofollow noopener" target="_blank"-->
                <!--    class="ud-main-btn ud-link-btn" style="background: #efd465; color: black">-->
                <!--    Learn More <i class="lni lni-arrow-right"></i>-->
                <!--  </a>-->
                <!--</li>-->
              </ul>
            </div>
            <!-- <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
              <img src="/static/theme/images/hero/brand.svg" alt="brand" />
            </div> -->
            <!--<div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">-->
            <!--  <img src="/static/theme/images/hero/trading-hero-new.png" alt="hero-image" />-->
            <!--  <img src="/static/theme/images/hero/dotted-shape.svg" alt="shape" class="shape shape-1" />-->
            <!--  <img src="/static/theme/images/hero/dotted-shape.svg" alt="shape" class="shape shape-2" />-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Hero End ====== -->
    <section id="video">
          <div class="row">
 
  <div class="video-container" >
    <video autoplay loop muted>
      <source src="/static/theme/videos/qvim-org.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
        </div>
    </section>
    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
          
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title">
              <h2>Uncover Valuable Insights</h2>
              <p>
                This informative map is designed to empower potential traders and investors with valuable knowledge about these companies. With the map's help, you can make informed decisions about investing in QSE-listed companies. It enhances transparency and accessibility, making it easier for you to explore opportunities and contribute to the growth of Qatar's economy through increased trading activity.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
              <div class="ud-feature-icon">
                <i class="lni lni-mobile"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Scan and Access</h3>
                <p class="ud-feature-desc">
                  Scan the QR code to access the Qatar Virtual Info Map.
                </p>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
              <div class="ud-feature-icon">
               <i class="lni lni-checkmark-circle"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Select Territories</h3>
                <p class="ud-feature-desc">
                  Choose the QSE Dome representing the territory of listed companies.
                </p>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
              <div class="ud-feature-icon">
               <i class="lni lni-unlock"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Trade to Unlock</h3>
                <p class="ud-feature-desc">
                  Use your trading profits to unlock territories on the map.
                </p>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
              <div class="ud-feature-icon">
                <i class="lni lni-frame-expand"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Dig Deeper</h3>
                <p class="ud-feature-desc">
                 Select the company within the unlocked territory to access information.
                </p>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Features End ====== -->
  

   <!-- ====== About Start ====== -->
    <section id="about" class="ud-about" style="background:#fbf9f1">
      <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-about-content-wrapper">
            <div class="ud-about-content">
              <!--<span class="tag">About Us</span>-->
              <h2>Uncover Valuable Insights</h2>
              <p>
Our Qatar Virtual Informative Map is your gateway to comprehensive insights about companies listed on the Qatar Stock Exchange (QSE). 
              </p>
  <p>This visually engaging map of Qatar is divided into seven different industries, each housing the 50 companies listed under them.</p>
             
          
            </div>
          </div>
            <div class="row justify-content-center">
            <img src="/static/theme/images/qatar-map.png" alt="about-image" style="max-width: 100%;" />
          </div>
        </div>
      </div>
    </section>
    <!-- ====== About End ====== -->
  
  
    <!-- ====== Testimonials Start ====== -->
    <section id="testimonials" class="ud-testimonials">
        
      <div class="container">

  
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-brands wow fadeInUp" data-wow-delay=".2s">
              <div class="ud-title">
                <h6>Stocks trading with</h6>
              </div>
              <div class="ud-brands-logo">
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/ABQK.jpg" alt="ayroui" />
                </div>
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/CBQK.jpg" alt="uideck" />
                </div>
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/DBIS.jpg" alt="graygrids" />
                </div>
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/DHBK.jpg" alt="lineicons" />
                </div>
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/IHGS.jpg" alt="ecommerce-html" />
                </div>
                <div class="ud-single-logo">
                    <img src="/static/assets/companies/MARK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/NLCS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QFBQ.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QIBK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QIIK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QNBK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QOIS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/MCGS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/SIIS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/ZHCD.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/DUBK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/MEZA.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/VFQS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/GISS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/IGRD.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/MRDS.jpg" alt="ecommerce-html" />
                  </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
                 <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="ud-section-title text-center mx-auto">
                          <span>and more</span>
                        </div>
                      </div>
                    </div>
                 </div>
    </section>
    <!-- ====== Testimonials End ====== -->
  
  
  
{% endblock %}

