{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}  
    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" style="background:linear-gradient(to right, #010000, #761917);" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
              <h1 class="ud-hero-title">
                Dive into virtual trading with our Stock Trading Simulator
              </h1>
              <p class="ud-hero-desc">
                Get QAR 500,000 virtual currency and master the art of risk-free trading. Join us now!
              </p>
              <ul class="ud-hero-buttons">
                <li>
                  <a data-toggle="modal" data-target="#signinModal" rel="nofollow noopener"
                    class="ud-main-btn ud-white-btn">
                    Get Started Now
                  </a>
                </li>
                <li>
                  <a href="#" rel="nofollow noopener" target="_blank"
                    class="ud-main-btn ud-link-btn" style="background: #efd465; color: black">
                    Learn More <i class="lni lni-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
              <img src="/static/theme/images/hero/brand.svg" alt="brand" />
            </div> -->
            <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
              <img src="/static/theme/images/hero/trading-hero-final.png" alt="hero-image" />
              <img src="/static/theme/images/hero/dotted-shape.svg" alt="shape" class="shape shape-1" />
              <img src="/static/theme/images/hero/dotted-shape.svg" alt="shape" class="shape shape-2" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Hero End ====== -->
  
    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title">
              <span>Features</span>
              <h2>Benefits Of S-Treasury’s Trading Simulator</h2>
              <p>
                Explore the Key Advantages of Our Stock Market Trading Simulator.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
              <div class="ud-feature-icon">
                <i class="lni lni-gift"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Realistic Trading Experience</h3>
                <p class="ud-feature-desc">
                  Immerse yourself in a lifelike trading environment with simulated data..
                </p>
                <a href="javascript:void(0)" class="ud-feature-link">
                  Learn More
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
              <div class="ud-feature-icon">
                <i class="lni lni-move"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Comprehensive Portfolio Management</h3>
                <p class="ud-feature-desc">
                  Effortlessly manage your virtual portfolio with detailed insights into your holdings.
                </p>
                <a href="javascript:void(0)" class="ud-feature-link">
                  Learn More
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
              <div class="ud-feature-icon">
                <i class="lni lni-layout"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Market Analysis Tools</h3>
                <p class="ud-feature-desc">
                  Utilize powerful market analysis tools to make informed trading decisions.
                </p>
                <a href="javascript:void(0)" class="ud-feature-link">
                  Learn More
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
              <div class="ud-feature-icon">
                <i class="lni lni-layers"></i>
              </div>
              <div class="ud-feature-content">
                <h3 class="ud-feature-title">Play with Fully Encrypted Data</h3>
                <p class="ud-feature-desc">
                 Our robust encryption technology, allowing you to trade with confidence and peace of mind.
                </p>
                <a href="javascript:void(0)" class="ud-feature-link">
                  Learn More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Features End ====== -->
  
    <!-- ====== About Start ====== -->
    <section id="about" class="ud-about" style="background:#fbf9f1">
      <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-about-content-wrapper">
            <div class="ud-about-content">
              <span class="tag">About Us</span>
              <h2>Simple yet powerful trading simulator.</h2>
              <p>
                With a suite of technical indicators, the S-Treasury App offers traders of all styles powerful yet simple technical charting.

              </p>
  
              <p>
               And, it’s packed full of features such as order management, custom watchlists, alerts, news calendar and more, it gives simulated realtime data to learn and become expert.

              </p>
              <!--<a href="javascript:void(0)" class="ud-main-btn">Learn More</a>-->
                <ul class="ud-hero-buttons">
                <li>
                  <a href="#" rel="nofollow noopener">
                    <img  src="/static/theme/images/about/app_download_banner_Apple.webp" />
                  </a>
                </li>
                
                <li>
                  <a href="#" rel="nofollow noopener" style="margin: 5px;">
                    <img  src="/static/theme/images/about/app_download_banner_Google.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="ud-about-image">
            <img src="/static/theme/images/about/about-image.png" alt="about-image" />
          </div>
        </div>
      </div>
    </section>
    <!-- ====== About End ====== -->
  
  
    <!-- ====== FAQ Start ====== -->
    <section id="faq" class="ud-faq" style="background:#fbf9f1">
      <div class="shape">
        <img src="/static/theme/images/faq/shape.svg" alt="shape" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title text-center mx-auto">
              <span>FAQ</span>
              <h2>Questions or Concerns?</h2>
              <p>
              We're here to provide you with clear and concise answers to help you make the most of our platform.
              </p>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-lg-6">
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>What is the Stock Market Trading Simulator?</span>
                </button>
                <div id="collapseOne" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    The Stock Market Trading Simulator is a virtual platform that allows users to practice trading in the Qatar Stock Exchange (QSE) without using real money. It provides a risk-free environment for users to learn, improve their trading skills, and test strategies.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>How do I get started?</span>
                </button>
                <div id="collapseTwo" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    To get started, simply create an account with your personal information and login credentials. Once logged in, you'll have access to the trading simulator's features and functionalities.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>Is real money involved in the trading simulator?</span>
                </button>
                <div id="collapseThree" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                   No, the trading simulator uses virtual or fixed artificial currency for trading activities. You will start with a virtual balance of QAR 500,000, and no real money is involved.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>How does the simulator work?</span>
                </button>
                <div id="collapseFour" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    The simulator provides real-time simulated market data, allowing users to monitor market trends, place buy and sell orders, and manage a virtual portfolio. All transactions occur within the simulated environment.
                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>What is Qatar Virtual Informative Map (QVIM)? </span>
                </button>
                <div id="collapseFive" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
Qatar Virtual Informative Map, or the QVIM, is a digital platform designed to provide comprehensive information about the companies listed on the Qatar Stock Exchange (QSE). It offers detailed insights into various sectors and industries, helping investors make informed decisions. QVIM is a valuable resource for this interested in the Qatari stock market, providing data, analysis, and visuals to enhance their understanding of the listed companies, market trends, and investment opportunities.                  </div>
                </div>
              </div>
            </div>
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
              <div class="accordion">
                <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>How can I integrate the trading simulator with my brokerage platform?</span>
                </button>
                <div id="collapseSix" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                   If you are a brokerage, you can integrate our simulator into your platform using our API. The API allows for seamless user authentication, real-time data synchronization, order execution, and portfolio management.

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== FAQ End ====== -->
  
    <!-- ====== Testimonials Start ====== -->
    <section id="testimonials" class="ud-testimonials">
      <div class="container">
    
  
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-brands wow fadeInUp" data-wow-delay=".2s">
              <div class="ud-title">
                <h6>Stocks trading with</h6>
              </div>
              <div class="ud-brands-logo">
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/ABQK.jpg" alt="ayroui" />
                </div>
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/CBQK.jpg" alt="uideck" />
                </div>
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/DBIS.jpg" alt="graygrids" />
                </div>
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/DHBK.jpg" alt="lineicons" />
                </div>
                <div class="ud-single-logo">
                  <img src="/static/assets/companies/IHGS.jpg" alt="ecommerce-html" />
                </div>
                <div class="ud-single-logo">
                    <img src="/static/assets/companies/MARK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/NLCS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QFBQ.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QIBK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QIIK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QNBK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/QOIS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/MCGS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/SIIS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/ZHCD.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/DUBK.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/MEZA.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/VFQS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/GISS.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/IGRD.jpg" alt="ecommerce-html" />
                  </div>
                  <div class="ud-single-logo">
                    <img src="/static/assets/companies/MRDS.jpg" alt="ecommerce-html" />
                  </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
                 <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="ud-section-title text-center mx-auto">
                          <span>and more</span>
                        </div>
                      </div>
                    </div>
                 </div>
    </section>
    <!-- ====== Testimonials End ====== -->
  
  
  
{% endblock %}

