nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#quote {
    height: 50vh;
}

#stock-symbol {
    display: none;
}

.graph {
    width: 100%;
    height: 400px;
}

.btn {
    border: black;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.input-group {
    padding-bottom: 20px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
  }

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: dodgerblue; 
    color: #ffffff; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: dodgerblue !important; 
    color: #ffffff; 
  }

  .btn-graph {
      padding-bottom: 30px;
  }